<div class="container d-flex vh-100">
  <div class="row w-100 justify-content-center align-self-center">
    <div class="col-12 d-flex flex-column align-items-center">
      @if (hasJoinCode()) {
        <h2>Liittymiskoodi: {{ joinCodeSgn() }}</h2>
      } @else {
        <input
          type="text"
          placeholder="Liittymiskoodi"
          [value]="joinCodeSgn()"
          (keyup)="changeJoinCode($event)" />
      }
      <input
        type="text"
        placeholder="Käyttäjänimi"
        [value]="username()"
        (keyup)="changeUsername($event)" />
      <button class="btn btn-lg btn-primary" (click)="startGame()">
        @if (hasJoinCode()) {
          Aloita peli
        } @else {
          Liity peliin
        }
      </button>
    </div>
  </div>
</div>
