<!-- Component HTML -->
<div class="container d-flex vh-100">
  <div class="row w-100 justify-content-center align-self-center">
    <div class="col-12 d-flex flex-column align-items-center">
      @if (isAuthenticated()) {
        <button
          class="btn btn-primary btn-lg my-2 w-100"
          (click)="createGame()">
          Luo uusi peli
        </button>
        <button class="btn btn-primary btn-lg my-2 w-100" (click)="joinGame()">
          Liity peliin
        </button>
        <button
          class="btn btn-danger btn-lg my-2 w-100"
          (click)="auth.logout()">
          Kirjaudu ulos
        </button>
      } @else {
        <button
          class="btn btn-primary btn-lg"
          (click)="auth.loginWithRedirect()">
          Kirjaudu sisään
        </button>
      }
    </div>
  </div>
</div>
